<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oasis Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../static/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="../static/js/skycons.js"></script>

    <script src="../static/js/d3.js"></script>
    <script src="../static/js/klass.js"></script>
    <script src="../static/js/atlaspr.js"></script>
    <link href="../static/css/nv.d3.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="../static/js/nv.d3.js"></script>
    <script src="../static/js/jquery.js"></script>

</head>


<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="height:50px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-left" href="\"><img style="height: 50px; margin-top: -15px;" src="./static/img/oasis-white.png"><h3 style="margin-top:-27px; margin-left:115px; color:white;">Dashboard</h3></img></a>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li >
                        <a href="\home"><i class="fa fa-fw fa-dashboard"></i> Home</a>
                    </li>
                    <li >
                        <a href="\energy"><i class="fa fa-fw fa-bar-chart-o"></i> Energy Data</a>
                    </li>
                    <li>
                        <a href="\twitter"><i class="fa fa-fw fa-twitter"></i> Social Data</a>
                    </li>
                    <li>
                        <a href="\weather"><i class="fa fa-fw fa-cloud"></i> Weather Data</a>
                    </li>
                    <li >
                        <a href="\market"><i class="fa fa-fw fa-bar-chart-o"></i> Market Data</a>
                    </li>
                    <li >
                        <a href="\integration"><i class="fa fa-fw fa-bar-chart-o"></i> Data Integration</a>
                    </li>
                    <li class="active">
                        <a href="\capacity_building"><i class="fa fa-fw fa-bar-chart-o"></i> Capacity Building</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper" style="margin-top: -40px;">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Capacity Building
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Word Cloud</h3>
                            </div>
                            <div class="panel-body">
                                <svg width="960" height="600" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <g></g>
                                <g transform="translate(480,300)scale(1.0256410837173462,1.0256410837173462)">
                                <text text-anchor="middle" transform="translate(-339,-137)" style="font-size: 33px; font-family: Impact; fill: rgb(140, 162, 82)" onclick="searchGlossary('algorithm');">Algorithm</text>
                                <text text-anchor="middle" transform="translate(388,107)" style="font-size: 10px; font-family: Impact; fill: rgb(123, 65, 115);" onclick="searchGlossary('time');">Time</text>
                                <text text-anchor="middle" transform="translate(-77,21)" style="font-size: 33px; font-family: Impact; fill: rgb(82, 84, 163);" onclick="searchGlossary('data');">Data</text>
                                <text text-anchor="middle" transform="translate(125,-156)" style="font-size: 10px; font-family: Impact; fill: rgb(140, 109, 49);" onclick="searchGlossary('open');">Open</text>
                                <text text-anchor="middle" transform="translate(-215,-68)rotate(0)" style="font-size: 100px; font-family: Impact; fill: rgb(107, 110, 207);" onclick="searchGlossary('energy');">Energy</text>
                                <text text-anchor="middle" transform="translate(153,20)rotate(0)" style="font-size: 76px; font-family: Impact; fill: rgb(156, 158, 222);" onclick="searchGlossary('community');">Community</text>
                                <text text-anchor="middle" transform="translate(111,80)rotate(0)" style="font-size: 71px; font-family: Impact; fill: rgb(99, 121, 57);" onclick="searchGlossary('power');">Power</text>
                                <text text-anchor="middle" transform="translate(131,127)rotate(0)" style="font-size: 64px; font-family: Impact; fill: rgb(140, 162, 82);" onclick="searchGlossary('management');">Management</text>
                                <text text-anchor="middle" transform="translate(119,-36)rotate(0)" style="font-size: 64px; font-family: Impact; fill: rgb(181, 207, 107);" onclick="searchGlossary('social');">Social</text>
                                <text text-anchor="middle" transform="translate(-149,-9)rotate(0)" style="font-size: 64px; font-family: Impact; fill: rgb(206, 219, 156);" onclick="searchGlossary('smart');">Smart</text>
                                <text text-anchor="middle" transform="translate(-88,70)rotate(0)" style="font-size: 57px; font-family: Impact; fill: rgb(140, 109, 49);" onclick="searchGlossary('systems');">Systems</text>
                                <text text-anchor="middle" transform="translate(-122,122)rotate(0)" style="font-size: 57px; font-family: Impact; fill: rgb(189, 158, 57);" onclick="searchGlossary('ocean');">Ocean</text>
                                <text text-anchor="middle" transform="translate(296,62)rotate(0)" style="font-size: 47px; font-family: Impact; fill: rgb(231, 186, 82);" onclick="searchGlossary('capacity');">Capacity</text>
                                <text text-anchor="middle" transform="translate(220,171)rotate(0)" style="font-size: 47px; font-family: Impact; fill: rgb(231, 203, 148);" onclick="searchGlossary('collaboration');">Collaboration</text>
                                <text text-anchor="middle" transform="translate(259,-44)rotate(0)" style="font-size: 47px; font-family: Impact; fill: rgb(132, 60, 57);" onclick="searchGlossary('wind');">Wind</text>
                                <text text-anchor="middle" transform="translate(-193,-141)rotate(0)" style="font-size: 47px; font-family: Impact; fill: rgb(173, 73, 74);" onclick="searchGlossary('market');">Market</text>
                                <text text-anchor="middle" transform="translate(-122,163)rotate(0)" style="font-size: 47px; font-family: Impact; fill: rgb(214, 97, 107);" onclick="searchGlossary('technology');">Technology</text>
                                <text text-anchor="middle" transform="translate(340,101)rotate(0)" style="font-size: 33px; font-family: Impact; fill: rgb(231, 150, 156);" onclick="searchGlossary('user');">User</text>
                                <text text-anchor="middle" transform="translate(209,201)rotate(0)" style="font-size: 33px; font-family: Impact; fill: rgb(123, 65, 115);" onclick="searchGlossary('thermal');">Thermal</text>
                                <text text-anchor="middle" transform="translate(391,20)rotate(0)" style="font-size: 33px; font-family: Impact; fill: rgb(165, 81, 148);" onclick="searchGlossary('system');">System</text>
                                <text text-anchor="middle" transform="translate(-172,26)rotate(0)" style="font-size: 33px; font-family: Impact; fill: rgb(206, 109, 189);" onclick="searchGlossary('demand');">Demand</text>
                                <text text-anchor="middle" transform="translate(178,-91)rotate(0)" style="font-size: 33px; font-family: Impact; fill: rgb(222, 158, 214);" onclick="searchGlossary('distributed');">Distributed</text>
                                <text text-anchor="middle" transform="translate(39,-110)rotate(0)" style="font-size: 33px; font-family: Impact; fill: rgb(57, 59, 121);" onclick="searchGlossary('behavior');">Behavior</text>
                                <text text-anchor="middle" transform="translate(-79,197)rotate(0)" style="font-size: 33px; font-family: Impact; fill: rgb(82, 84, 163);" onclick="searchGlossary('adaptive');">Adaptive</text>
                                <text text-anchor="middle" transform="translate(-16,-46)rotate(0)" style="font-size: 33px; font-family: Impact; fill: rgb(107, 110, 207);" onclick="searchGlossary('waves');">Waves</text>
                                <text text-anchor="middle" transform="translate(-224,-182)rotate(0)" style="font-size: 33px; font-family: Impact; fill: rgb(156, 158, 222);" onclick="searchGlossary('networks');">Networks</text>
                                <text text-anchor="middle" transform="translate(128,230)rotate(0)" style="font-size: 33px; font-family: Impact; fill: rgb(99, 121, 57);" onclick="searchGlossary('participation');">Participation</text>
                                <text text-anchor="middle" transform="translate(338,-88)rotate(0)" style="font-size: 33px; font-family: Impact; fill: rgb(140, 162, 82);" onclick="searchGlossary('simulation');">Simulation</text>
                                <text text-anchor="middle" transform="translate(61,198)rotate(0)" style="font-size: 33px; font-family: Impact; fill: rgb(181, 207, 107);" onclick="searchGlossary('planning');">Planning</text>
                                <text text-anchor="middle" transform="translate(-2,-80)rotate(0)" style="font-size: 33px; font-family: Impact; fill: rgb(206, 219, 156);" onclick="searchGlossary('big');">Big</text>
                                <text text-anchor="middle" transform="translate(212,80)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(140, 109, 49);" onclick="searchGlossary('fuel');">Fuel</text>
                                <text text-anchor="middle" transform="translate(-63,-137)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(189, 158, 57);" onclick="searchGlossary('complexity');">Complexity</text>
                                <text text-anchor="middle" transform="translate(48,-92)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 186, 82);" onclick="searchGlossary('consensus');">Consensus</text>
                                <text text-anchor="middle" transform="translate(-254,-13)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 203, 148);" onclick="searchGlossary('influential');">Influential</text>
                                <text text-anchor="middle" transform="translate(-255,19)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(132, 60, 57);" onclick="searchGlossary('consumer');">Consumer</text>
                                <text text-anchor="middle" transform="translate(-41,-112)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(173, 73, 74);" onclick="searchGlossary('ladder');">Ladder</text>
                                <text text-anchor="middle" transform="translate(-207,57)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(214, 97, 107);" onclick="searchGlossary('control');">Control</text>
                                <text text-anchor="middle" transform="translate(-48,-17)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 150, 156);" onclick="searchGlossary('strategy');">Strategy</text>
                                <text text-anchor="middle" transform="translate(341,-36)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(123, 65, 115);" onclick="searchGlossary('cooperative');">Cooperative</text>
                                <text text-anchor="middle" transform="translate(176,-121)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(165, 81, 148);" onclick="searchGlossary('federalism');">Federalism</text>
                                <text text-anchor="middle" transform="translate(62,143)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(206, 109, 189);" onclick="searchGlossary('coprovider');">Coprovider</text>
                                <text text-anchor="middle" transform="translate(379,-15)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(222, 158, 214);" onclick="searchGlossary('crossdisciplinary');">Crossdisciplinary</text>
                                <text text-anchor="middle" transform="translate(127,-130)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(57, 59, 121);" onclick="searchGlossary('currents');">Currents</text>
                                <text text-anchor="middle" transform="translate(243,-122)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(82, 84, 163);" onclick="searchGlossary('battery');">Battery</text>
                                <text text-anchor="middle" transform="translate(-56,-87)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(107, 110, 207);" onclick="searchGlossary('citizen');">Citizen</text>
                                <text text-anchor="middle" transform="translate(-282,-163)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(156, 158, 222);" onclick="searchGlossary('bias');">Bias</text>
                                <text text-anchor="middle" transform="translate(170,-134)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(99, 121, 57);" onclick="searchGlossary('agent');">Agent</text>
                                <text text-anchor="middle" transform="translate(-222,38)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(140, 162, 82);" onclick="searchGlossary('cognitive');">Cognitive</text>
                                <text text-anchor="middle" transform="translate(-215,70)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(181, 207, 107);" onclick="searchGlossary('biofuel');">Biofuel</text>
                                <text text-anchor="middle" transform="translate(-222,97)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(206, 219, 156);" onclick="searchGlossary('biomass');">Biomass</text>
                                <text text-anchor="middle" transform="translate(67,159)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(140, 109, 49);" onclick="searchGlossary('bourse');">Bourse</text>
                                <text text-anchor="middle" transform="translate(-56,-76)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(189, 158, 57);" onclick="searchGlossary('broker');">Broker</text>
                                <text text-anchor="middle" transform="translate(-47,-34)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 186, 82);" onclick="searchGlossary('business');">Business</text>
                                <text text-anchor="middle" transform="translate(-251,0)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 203, 148);" onclick="searchGlossary('efficient');">Efficient</text>
                                <text text-anchor="middle" transform="translate(-90,-155)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(132, 60, 57);" onclick="searchGlossary('architecture');">Architecture</text>
                                <text text-anchor="middle" transform="translate(-100,80)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(173, 73, 74);" onclick="searchGlossary('based');">Based</text>
                                <text text-anchor="middle" transform="translate(264,78)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(214, 97, 107);" onclick="searchGlossary('electric');">Electric</text>
                                <text text-anchor="middle" transform="translate(-220,111)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 150, 156);" onclick="searchGlossary('research');">Research</text><text text-anchor="middle" transform="translate(-249,-30)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(123, 65, 115);" onclick="searchGlossary('institute');">Institute</text>
                                <text text-anchor="middle" transform="translate(-57,80)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(165, 81, 148);" onclick="searchGlossary('epri');">EPRI</text>
                                <text text-anchor="middle" transform="translate(-220,83)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(206, 109, 189);" onclick="searchGlossary('electricity');">Electricity</text>
                                <text text-anchor="middle" transform="translate(-261,59)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(222, 158, 214);" onclick="searchGlossary('collaborative');">Collaborative</text>
                                <text text-anchor="middle" transform="translate(79,-140)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(57, 59, 121);" onclick="searchGlossary('embedded');">Embedded</text>
                                <text text-anchor="middle" transform="translate(-257,-44)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(82, 84, 163);" onclick="searchGlossary('combined');">Combined</text>
                                <text text-anchor="middle" transform="translate(-119,-180)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(107, 110, 207);" onclick="searchGlossary('empowerement');">Empowerement</text>
                                <text text-anchor="middle" transform="translate(342,119)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(156, 158, 222);" onclick="searchGlossary('consumption');">Consumption</text>
                                <text text-anchor="middle" transform="translate(31,155)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(99, 121, 57);" onclick="searchGlossary('saving');">Saving</text>
                                <text text-anchor="middle" transform="translate(20,-145)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(140, 162, 82);" onclick="searchGlossary('transition');">Transition</text>
                                <text text-anchor="middle" transform="translate(-177,176)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(181, 207, 107);" onclick="searchGlossary('environment');">Environment</text>
                                <text text-anchor="middle" transform="translate(-52,-99)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(206, 219, 156);" onclick="searchGlossary('heat');">Heat</text>
                                <text text-anchor="middle" transform="translate(-87,-170)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(140, 109, 49);" onclick="searchGlossary('responses');">Responses</text>
                                <text text-anchor="middle" transform="translate(138,183)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(189, 158, 57);" onclick="searchGlossary('side');">Side</text>
                                <text text-anchor="middle" transform="translate(233,79)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 186, 82);" onclick="searchGlossary('dsm');">DSM</text>
                                <text text-anchor="middle" transform="translate(-18,-164)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 203, 148);" onclick="searchGlossary('desicionmaking');">Decisionmaking</text>
                                <text text-anchor="middle" transform="translate(-284,31)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(132, 60, 57);" onclick="searchGlossary('acceptation');">Acceptation</text>
                                <text text-anchor="middle" transform="translate(130,-144)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(173, 73, 74);" onclick="searchGlossary('cognition');">Cognition</text>
                                <text text-anchor="middle" transform="translate(-265,-57)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(214, 97, 107);" onclick="searchGlossary('generation');">Generation</text>
                                <text text-anchor="middle" transform="translate(68,-154)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 150, 156);" onclick="searchGlossary('governance');">Governance</text>
                                <text text-anchor="middle" transform="translate(-121,-191)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(123, 65, 115);" onclick="searchGlossary('government');">Government</text>
                                <text text-anchor="middle" transform="translate(16,143)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(165, 81, 148);" onclick="searchGlossary('policies');">Policies</text>
                                <text text-anchor="middle" transform="translate(-246,122)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(206, 109, 189);" onclick="searchGlossary('family');">Family</text>
                                <text text-anchor="middle" transform="translate(336,132)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(222, 158, 214);" onclick="searchGlossary('feasibility');">Feasibility</text>
                                <text text-anchor="middle" transform="translate(227,-34)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(57, 59, 121);" onclick="searchGlossary('fossil');">Fossil</text>
                                <text text-anchor="middle" transform="translate(289,181)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(82, 84, 163);" onclick="searchGlossary('turbine');">Turbine</text>
                                <text text-anchor="middle" transform="translate(-276,47)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(107, 110, 207);" onclick="searchGlossary('innovation');">Innovation</text>
                                <text text-anchor="middle" transform="translate(-36,-179)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(156, 158, 222);" onclick="searchGlossary('institution');">Institution</text>
                                <text text-anchor="middle" transform="translate(-301,5)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(99, 121, 57);" onclick="searchGlossary('integration');">Integration</text>
                                <text text-anchor="middle" transform="translate(52,171)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(140, 162, 82);" onclick="searchGlossary('intelligent');">Intelligent</text>
                                <text text-anchor="middle" transform="translate(210,-137)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(181, 207, 107);" onclick="searchGlossary('electronic');">Electronic</text>
                                <text text-anchor="middle" transform="translate(-181,-58)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(206, 219, 156);" onclick="searchGlossary('device');">Device</text>
                                <text text-anchor="middle" transform="translate(5,157)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(140, 109, 49);" onclick="searchGlossary('ied');">IED</text>
                                <text text-anchor="middle" transform="translate(61,-169)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(189, 158, 57);" onclick="searchGlossary('interconnection');">Interconnection</text>
                                <text text-anchor="middle" transform="translate(261,213)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 186, 82);" onclick="searchGlossary('interdisciplinary');">Interdisciplinary</text>
                                <text text-anchor="middle" transform="translate(-280,73)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 203, 148);" onclick="searchGlossary('intergeneration');">Intergeneration</text>
                                <text text-anchor="middle" transform="translate(-305,-43)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(132, 60, 57);" onclick="searchGlossary('relations');">Relations</text>
                                <text text-anchor="middle" transform="translate(260,-133)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(173, 73, 74);" onclick="searchGlossary('irradiance');">Irradiance</text>
                                <text text-anchor="middle" transform="translate(-287,85)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(214, 97, 107);" onclick="searchGlossary('hydroelectricity');">Hydroelectricity</text>
                                <text text-anchor="middle" transform="translate(-47,-124)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 150, 156);" onclick="searchGlossary('kinetic');">Kinetic</text>
                                <text text-anchor="middle" transform="translate(1,214)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(123, 65, 115);" onclick="searchGlossary('mechanical');">Mechanical</text>
                                <text text-anchor="middle" transform="translate(214,-148)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(165, 81, 148);" onclick="searchGlossary('multidisciplinary');">Multidisciplinary</text>
                                <text text-anchor="middle" transform="translate(-100,-139)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(206, 109, 189);" onclick="searchGlossary('chp');">CHP</text>
                                <text text-anchor="middle" transform="translate(-47,214)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(222, 158, 214);" onclick="searchGlossary('current');">Current</text>
                                <text text-anchor="middle" transform="translate(-37,-151)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(57, 59, 121);" onclick="searchGlossary('common');">Common</text>
                                <text text-anchor="middle" transform="translate(341,-54)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(82, 84, 163);" onclick="searchGlossary('conversion');" >Conversion</text>
                                <text text-anchor="middle" transform="translate(140,199)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(107, 110, 207);" onclick="searchGlossary('otec');">OTEC</text>
                                <text text-anchor="middle" transform="translate(335,-66)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(156, 158, 222);" onclick="searchGlossary('tides');">Tides</text>
                                <text text-anchor="middle" transform="translate(11,168)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(99, 121, 57);" onclick="searchGlossary('pool');">Pool</text>
                                <text text-anchor="middle" transform="translate(112,29)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(140, 162, 82);" onclick="searchGlossary('access');">Access</text>
                                <text text-anchor="middle" transform="translate(-314,-28)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(181, 207, 107);" onclick="searchGlossary('organizational');">Organizational</text>
                                <text text-anchor="middle" transform="translate(124,-168)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(206, 219, 156);" onclick="searchGlossary('network');">Network</text>
                                <text text-anchor="middle" transform="translate(171,-162)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(140, 109, 49);" onclick="searchGlossary('resource');">Resource</text>
                                <text text-anchor="middle" transform="translate(393,77)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(189, 158, 57);" onclick="searchGlossary('pipeline');">Pipeline</text>
                                <text text-anchor="middle" transform="translate(36,-180)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 186, 82);" onclick="searchGlossary('policy');">Policy</text>
                                <text text-anchor="middle" transform="translate(-112,-205)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 203, 148);" onclick="searchGlossary('potential');">Potential</text>
                                <text text-anchor="middle" transform="translate(-95,210)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(132, 60, 57);" onclick="searchGlossary('flow');">Flow</text>
                                <text text-anchor="middle" transform="translate(290,196)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(173, 73, 74);" onclick="searchGlossary('study');">Study</text>
                                <text text-anchor="middle" transform="translate(13,226)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(214, 97, 107);" onclick="searchGlossary('scarcity');">Scarcity</text>
                                <text text-anchor="middle" transform="translate(-315,-13)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 150, 156);" onclick="searchGlossary('schumpeters');">Schumpeters</text>
                                <text text-anchor="middle" transform="translate(171,-173)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(123, 65, 115);" onclick="searchGlossary('arnsteins');">Arnsteins</text>
                                <text text-anchor="middle" transform="translate(-327,-168)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(165, 81, 148);" onclick="searchGlossary('appliance');">Appliance</text>
                                <text text-anchor="middle" transform="translate(85,-86)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(206, 109, 189);" onclick="searchGlossary('grid');">Grid</text>
                                <text text-anchor="middle" transform="translate(287,-118)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(222, 158, 214);" onclick="searchGlossary('metering');">Metering</text>
                                <text text-anchor="middle" transform="translate(226,-160)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(57, 59, 121);" onclick="searchGlossary('engagement');">Engagement</text>
                                <text text-anchor="middle" transform="translate(-251,155)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(82, 84, 163);" onclick="searchGlossary('meters');">Meters</text>
                                <text text-anchor="middle" transform="translate(-268,96)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(107, 110, 207);" onclick="searchGlossary('interest');">Interest</text>
                                <text text-anchor="middle" transform="translate(-298,20)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(156, 158, 222);" onclick="searchGlossary('justice');">Justice</text>
                                <text text-anchor="middle" transform="translate(-326,-54)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(99, 121, 57);" onclick="searchGlossary('sustainability');">Sustainability</text>
                                <text text-anchor="middle" transform="translate(75,-183)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(140, 162, 82);" onclick="searchGlossary('locality');">Locality</text>
                                <text text-anchor="middle" transform="translate(373,-73)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(181, 207, 107);" onclick="searchGlossary('transitions');">Transitions</text>
                                <text text-anchor="middle" transform="translate(-172,192)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(206, 219, 156);" onclick="searchGlossary('preferences');">Preferences</text>
                                <text text-anchor="middle" transform="translate(-375,-34)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(140, 109, 49);" onclick="searchGlossary('sociology');">Sociology</text>
                                <text text-anchor="middle" transform="translate(33,244)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(189, 158, 57);" onclick="searchGlossary('sociotechnological');">Sociotechnological</text>
                                <text text-anchor="middle" transform="translate(-42,-5)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 186, 82);" onclick="searchGlossary('solar');">Solar</text>
                                <text text-anchor="middle" transform="translate(123,-181)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 203, 148);" onclick="searchGlossary('winds');">Winds</text>
                                <text text-anchor="middle" transform="translate(-35,229)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(132, 60, 57);" onclick="searchGlossary('spark');">Spark</text>
                                <text text-anchor="middle" transform="translate(92,-194)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(173, 73, 74);" onclick="searchGlossary('stakeholders');">Stakeholders</text>
                                <text text-anchor="middle" transform="translate(4,-186)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(214, 97, 107);" onclick="searchGlossary('static');">Static</text>
                                <text text-anchor="middle" transform="translate(334,184)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 150, 156);" onclick="searchGlossary('strategic');">Strategic</text>
                                <text text-anchor="middle" transform="translate(382,-26)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(123, 65, 115);" onclick="searchGlossary('niche');">Niche</text>
                                <text text-anchor="middle" transform="translate(-79,-191)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(165, 81, 148);" onclick="searchGlossary('snm');">SNM</text>
                                <text text-anchor="middle" transform="translate(-274,108)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(206, 109, 189);" onclick="searchGlossary('streaming');">Streaming</text>
                                <text text-anchor="middle" transform="translate(-97,223)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(222, 158, 214);" onclick="searchGlossary('algorithms');">Algorithms</text>
                                <text text-anchor="middle" transform="translate(-273,140)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(57, 59, 121);" onclick="searchGlossary('sustainable');">Sustainable</text>
                                <text text-anchor="middle" transform="translate(-325,59)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(82, 84, 163);" onclick="searchGlossary('restoration');">Restoration</text>
                                <text text-anchor="middle" transform="translate(92,248)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(107, 110, 207);" onclick="searchGlossary('real');">Real</text>
                                <text text-anchor="middle" transform="translate(-38,-197)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(156, 158, 222);" onclick="searchGlossary('deployment');">Deployment</text>
                                <text text-anchor="middle" transform="translate(-332,47)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(99, 121, 57);" onclick="searchGlossary('redundancy');">Redundancy</text>
                                <text text-anchor="middle" transform="translate(136,247)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(140, 162, 82);" onclick="searchGlossary('reputation');">Reputation</text>
                                <text text-anchor="middle" transform="translate(169,-187)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(181, 207, 107);" onclick="searchGlossary('resilience');">Resilience</text>
                                <text text-anchor="middle" transform="translate(420,34)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(206, 219, 156);" onclick="searchGlossary('unidisciplinary');">Unidisciplinary</text>
                                <text text-anchor="middle" transform="translate(-145,210)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(140, 109, 49);" onclick="searchGlossary('acceptance');">Acceptance</text>
                                <text text-anchor="middle" transform="translate(20,-197)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(189, 158, 57);" onclick="searchGlossary('model');">Model</text>
                                <text text-anchor="middle" transform="translate(-160,1)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 186, 82);" onclick="searchGlossary('tam');">TAM</text>
                                <text text-anchor="middle" transform="translate(-235,178)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 203, 148);" onclick="searchGlossary('assesment');">Assesment</text>
                                <text text-anchor="middle" transform="translate(-209,122)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(132, 60, 57);" onclick="searchGlossary('tidal');">Tidal</text>
                                <text text-anchor="middle" transform="translate(398,117)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(173, 73, 74);" onclick="searchGlossary('tolerance');">Tolerance</text>
                                <text text-anchor="middle" transform="translate(-336,19)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(214, 97, 107);" onclick="searchGlossary('tragedy');">Tragedy</text>
                                <text text-anchor="middle" transform="translate(291,-147)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(231, 150, 156);" onclick="searchGlossary('commons');">Commons</text>
                                <text text-anchor="middle" transform="translate(-312,126)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(123, 65, 115);" onclick="searchGlossary('transdisciplinarity');">Transdisciplinarity</text>
                                <text text-anchor="middle" transform="translate(416,93)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(165, 81, 148);" onclick="searchGlossary('transdisciplinary');">Transdisciplinary</text><text text-anchor="middle" transform="translate(236,228)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(206, 109, 189);" onclick="searchGlossary('sense');">Sense</text><text text-anchor="middle" transform="translate(-72,239)rotate(0)" style="font-size: 10px; font-family: Impact; fill: rgb(222, 158, 214);" onclick="searchGlossary('aggregator');">Aggregator</text></g></svg>
                            </div>
                        </div>
                    </div>    
                </div>

                <div class="row" id="gloss">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Glossary
                                    <div style="float:right; margin-top: -20px; padding-top: 11px;">
                                        <div class="form-group">
                                        <input id="input_keyword" type="text" class="form-control" placeholder="Search by keyword..." style="width: 205px; border-radius: 0px; margin-top: 0px; margin-left: -60px;">
                                    </div>
                                    <button class="btn btn-default" style="margin-top: -85px; margin-left: 144px;background-color: #ccc; border-radius: 0px;" onclick="searchGlossary()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    <button onclick="getFullGlossary()" class="btn btn-info" style="margin-top: -85px;">Show full glossary</button>
                                    </div>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div id="glossary">
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>

            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>

    <script>

    $(function() {
        getFullGlossary();
    });

    function getFullGlossary(){
        $.get('/_getGlossary',
            function (glossary) {
                console.log(glossary.result);
                var keys                  = [];
                var words_and_definitions = "";
                var gloss = "";
                // console.log(glossary.result);

                // Getting letters
                for (var key in glossary.result) {
                    // console.log(key);
                    if (glossary.result.hasOwnProperty(key)) {
                        keys.push(key);
                    }
                }
                // console.log(keys)

                // Getting words and definitions
                for (var i = 0; i < keys.length; i++) {
                    gloss = gloss.concat(keys[i]) + ":<br><br>";
                    for (var j = 0; j < glossary.result[keys[i]].length; j++){
                        words_and_definitions = glossary.result[keys[i]][j];
                        for (key in words_and_definitions){
                            if (words_and_definitions.hasOwnProperty(key)){
                                gloss = gloss.concat(key) + " = " + words_and_definitions[key]+"<br>"
                            }
                        }
                        gloss = gloss.concat("<br>");
                    }
                }

                // console.log(gloss)
                document.getElementById("glossary").innerHTML = gloss;
            }
        );
    }

    function searchGlossary(key_word){
        $.get('/_searchGlossary',
            { keyword: $("#input_keyword").val() != "" ? $("#input_keyword").val() : key_word},
            function (glossary) {
                console.log(glossary.result);
                var keys                  = [];
                var words_and_definitions = "";
                var gloss = "";
                console.log(glossary.result);

                // Getting letters
                for (var key in glossary.result) {
                    if (glossary.result.hasOwnProperty(key)) {
                        keys.push(key);
                    }
                }
                for (var i = 0; i < keys.length; i++) {
                        for (key in glossary.result[i]){
                            if (glossary.result[i].hasOwnProperty(key)){
                                console.log(glossary.result[i][key])
                                gloss = gloss.concat(key) + " = " + glossary.result[i][key]+"<br>"
                            }
                        }
                        gloss = gloss.concat("<br>");
                    }
                document.getElementById("glossary").innerHTML = gloss;
            }
        );
    }
    

    </script>

    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>
    <footer class="footer">
      <div class="container">
        <span class="text-muted" style="color:#ffffff;">© 2017 OASIS Project</span>
      </div>
    </footer>
</body>

</html>


