<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oasis Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../static/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="../static/js/d3.js"></script>
    <script src="../static/js/klass.js"></script>
    <script src="../static/js/atlaspr.js"></script>
    <script src="../static/js/jquery.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="\">Oasis Dashboard</a>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="\"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="active">
                        <a href="\energy"><i class="fa fa-fw fa-bar-chart-o"></i> Energy Data</a>
                    </li>
                    <li>
                        <a href="\twitter"><i class="fa fa-fw fa-twitter"></i> Twitter Data</a>
                    </li>
                    <li>
                        <a href="\weather"><i class="fa fa-fw fa-cloud"></i> Weather Data</a>
                    </li>
                    <li>
                        <a href="\map"><i class="fa fa-fw fa-globe"></i> Puerto Rico Map</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Energy Graphs
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-area-chart fa-fw"></i> 
                                    Energy Generation (Natural Year) in millions of kilowatts per hour (mkWh)
                                    <small>2000-2014</small>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-area-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="../static/js/plugins/morris/morris.js"></script>
                <script src="../static/js/plugins/morris/raphael.min.js"></script>
                <script>
                    Morris.Area({
                        element: 'morris-area-chart',
                        data: [{
                            period: '2000',
                            gross_generation: 21813.5,
                            net_generation: 20728.9,
                            // max_demand: 3202 
                        }, {
                            period: '2001',
                            gross_generation: 22301.9,
                            net_generation: 21203.2,
                            // max_demand: 3297 
                        }, {
                            period: '2002',
                            gross_generation: 23175.6,
                            net_generation: 22086.1,
                            // max_demand: 3376 
                        }, {
                            period: '2003',
                            gross_generation: 23937.3,
                            net_generation: 22884.4,
                            // max_demand: 3499 
                        }, {
                            period: '2004',
                            gross_generation: 24135.0,
                            net_generation: 23004.9,
                            // max_demand: 3560 
                        }, {
                            period: '2005',
                            gross_generation: 24961.8,
                            net_generation: 23846.6,
                            // max_demand: 3685 
                        }, {
                            period: '2006',
                            gross_generation: 24946.4,
                            net_generation: 23839.8,
                            // max_demand: 3604 
                        }, {
                            period: '2007',
                            gross_generation: 24636.2,
                            net_generation: 23720.2,
                            // max_demand: 3546 
                        }, {
                            period: '2008',
                            gross_generation: 23213.6,
                            net_generation: 22337.2,
                            // max_demand: 3351 
                        }, {
                            period: '2009',
                            gross_generation: 22988.6,
                            net_generation: 22022.4,
                            // max_demand: 3404 
                        }, {
                            period: '2010',
                            gross_generation: 23244.0,
                            net_generation: 22216.1,
                            // max_demand: 3406 
                        }, {
                            period: '2011',
                            gross_generation: 22257.3,
                            net_generation: 21283.6,
                            // max_demand: 3303 
                        }, {
                            period: '2012',
                            gross_generation: 22306.0,
                            net_generation: 21296.3,
                            // max_demand: 3265 
                        }, {
                            period: '2013',
                            gross_generation: 21493.3,
                            net_generation: 20620.9,
                            // max_demand: 1791
                        }, {
                            period: '2014',
                            gross_generation: 21066.8,
                            net_generation: 20272.2,
                            // max_demand: 2028
                        }],
                        xkey: 'period',
                        // ykeys: ['gross_generation', 'net_generation', 'max_demand'],
                        ykeys: ['gross_generation', 'net_generation'],
                        labels: ['gross_generation', 'net_generation'],
                        // labels: ['Gross Generation', 'Net Generation', 'Max Demand'],
                        pointSize: 2,
                        hideHover: 'auto',
                        resize: true
                    });

                </script>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-line-chart"></i> 
                                    Average Cost of kWh: Basic vs Fuel vs Bought Energy  (Natural Year)
                                    <small>2000-2014</small>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="flot-chart">
                                    <div class="flot-chart-content" id="flot-multiple-axes-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <script>
                        // Flot Line Charts - Multiple Axes - With Data
                        $(function() {
                            var basic = [
                                [2000, 4.89],
                                [2001, 4.86],
                                [2002, 4.85],
                                [2003, 4.74],
                                [2004, 4.82],
                                [2005, 4.82],
                                [2006, 4.83],
                                [2007, 4.89],
                                [2008, 4.83],
                                [2009, 4.87],
                                [2010, 5.01],
                                [2011, 5.14],
                                [2012, 5.04],
                                [2013, 5.36],
                                [2014, 5.55]
                            ];
                            var fuel = [
                                [2000, 5.43],
                                [2001, 4.99],
                                [2002, 4.49],
                                [2003, 5.10],
                                [2004, 5.38],
                                [2005, 8.80],
                                [2006, 9.16],
                                [2007, 10.47],
                                [2008, 15.22],
                                [2009, 10.33],
                                [2010, 12.86],
                                [2011, 17.08],
                                [2012, 15.58],
                                [2013, 15.48],
                                [2014, 15.24]
                            ];
                            var bought_energy = [
                                [2000, 0.87 ],
                                [2001, 1.29 ],
                                [2002, 1.59 ],
                                [2003, 2.32 ],
                                [2004, 2.71 ],
                                [2005, 2.99 ],
                                [2006, 3.68 ],
                                [2007, 3.79 ],
                                [2008, 4.26 ],
                                [2009, 4.48 ],
                                [2010, 3.93 ],
                                [2011, 4.32 ],
                                [2012, 4.34 ],
                                [2013, 5.00 ],
                                [2014, 5.53 ]
                            ];

                            function usdFormatter(v, axis) {
                                return v.toFixed(axis.tickDecimals) + " ¢/kWh";
                            }

                            function doPlot(position) {
                                $.plot($("#flot-multiple-axes-chart"), [{
                                    data: basic,
                                    label: "Average Cost: Basic ",
                                    yaxis: 2
                                }, {
                                    data: fuel,
                                    label: "Average Cost: Fuel ",
                                    yaxis: 2
                                }, 
                                {
                                    data: bought_energy,
                                    label: "Average Cost: Bought Energy ",
                                    yaxis: 2
                                }
                                ], {
                                    xaxes: [{
                                        // mode: 'time'
                                    }],
                                    yaxes: [{
                                        // min: 0
                                    }, {
                                        // align if we are to the right
                                        alignTicksWithAxis: position == "right" ? 1 : null,
                                        position: position,
                                        tickFormatter: usdFormatter
                                    }],
                                    legend: {
                                        position: 'nw',
                                        // show: false
                                    },
                                    grid: {
                                        hoverable: true //IMPORTANT! this is needed for tooltip to work
                                    },
                                    tooltip: true,
                                    tooltipOpts: {
                                        content: "%s for %x was %y ",
                                        // xDateFormat: "%y-%0m-%0d",

                                        onHover: function(flotItem, $tooltipEl) {
                                            // console.log(flotItem, $tooltipEl);
                                        }
                                    }

                                });
                            }

                            doPlot("left");

                            $("button").click(function() {
                                doPlot($(this).text());
                            });
                        });
                    </script>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart"></i> 
                                    Energy Consumption by Service Class <small>2000-2014</small>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-bar-chart"></div>
                            </div>
                        </div>
                    </div>
                    <script>
                    Morris.Bar({
                        element: 'morris-bar-chart',
                        data: [{
                            class: 'Residential',
                            consumption: 102749.3 
                        }, {
                            class: 'Commercial',
                            consumption: 118513.8 
                        }, {
                            class: 'Industrial',
                            consumption: 52485.5 
                        }, {
                            class: 'Street Lighting',
                            consumption: 4197.5 
                        }, {
                            class: 'Agriculture',
                            consumption: 497.5 
                        }, {
                            class: 'Other Public Authorities',
                            consumption: 1392.2 
                        }],
                        xkey: 'class',
                        ykeys: ['consumption'],
                        labels: ['mkWH'],
                        barRatio: 0.4,
                        xLabelAngle: 0,
                        hideHover: 'auto',
                        resize: true
                    });
                    </script>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <!-- <script src="../static/js/plugins/morris/raphael.min.js"></script> -->
    <script src="../static/js/plugins/morris/morris.min.js"></script>
    <script src="../static/js/plugins/morris/morris-data.js"></script>

    <!-- Flot Charts JavaScript -->
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
    <script src="../static/js/plugins/flot/jquery.flot.js"></script>
    <script src="../static/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="../static/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="../static/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="../static/js/plugins/flot/flot-data.js"></script>

</body>

</html>
