<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oasis Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../static/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="../static/js/skycons.js"></script>

    <script src="../static/js/d3.js"></script>
    <script src="../static/js/klass.js"></script>
    <script src="../static/js/atlaspr.js"></script>
    <link href="../static/css/nv.d3.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="../static/js/nv.d3.js"></script>
    <script src="../static/js/jquery.js"></script>

</head>


<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="height:50px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-left" href="\"><img style="height: 50px; margin-top: -15px;" src="./static/img/oasis-white.png"><h3 style="margin-top:-27px; margin-left:115px; color:white;">Dashboard</h3></img></a>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="\home"><i class="fa fa-fw fa-dashboard"></i> Home</a>
                    </li>
                    <li >
                        <a href="\energy"><i class="fa fa-fw fa-bar-chart-o"></i> Energy Data</a>
                    </li>
                    <li>
                        <a href="\twitter"><i class="fa fa-fw fa-twitter"></i> Social Data</a>
                    </li>
                    <li>
                        <a href="\weather"><i class="fa fa-fw fa-cloud"></i> Weather Data</a>
                    </li>
                    <li >
                        <a href="\market"><i class="fa fa-fw fa-bar-chart-o"></i> Market Data</a>
                    </li>
                    <li >
                        <a href="\integration"><i class="fa fa-fw fa-bar-chart-o"></i> Data Integration</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper" style="margin-top: -40px;">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Home
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">About this dashboard</h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    Welcome to the OASIS Dashboard! </br>
                                    The dashboard has 5 areas of interest: <br>
                                    <ul>
                                        <li><strong>Energy Data</strong></li>
                                        <li><strong>Social Data</strong></li> 
                                        <li><strong>Weather Data</strong></li> 
                                        <li><strong>Market Data</strong></li>
                                        <li><strong>Data Integration</strong></li>
                                    </ul>
                                </p>
                                <p>
                                    The <strong>Energy Data</strong> area will show users AEE (Puerto Rico Electric Power Authority) historic data that was gathered from 2000 to 2015. 
                                </p>
                                <p>
                                    <strong>Social data</strong> is being gathered from Twitter. 
                                    <br>
                                    Tweets from Puerto Rico related to smart grids and energy are being streamed, stored and classified as positive or negative using a naïve bayes classifier.
                                    <br>
                                    A pie chart shows the amount of positive and negative tweets.
                                    <br>
                                    Two donut charts show the top 10 most positive and negative words and the tweets classified as positive or negative are being shown in near real-time. 
                                    <br>
                                    Positive tweets are colored blue and negative tweets are colored red.
                                    <br>
                                    Twitter data may be exported as a csv file.
                                </p>
                                <p>
                                    <strong>Weather data</strong> is being gathered using the Dark Sky API. <br>
                                    This area shows the following weather data for a given town:
                                    <ul>
                                        <li>current condition</li>
                                        <li>today’s forecast</li> 
                                        <li>today’s 12-hour forecast</li> 
                                        <li>4-day forecast</li> 
                                    </ul>
                                    Users may search for a town by name or zip code.
                                    <br> 
                                    This area also shows users radar images for Puerto Rico.
                                    <br>  
                                    The hourly forecast for the next 24 hours can be exported as a csv file.
                                </p>
                                <p>
                                The <strong>Market data</strong> section will show users loads in MWhr and Day-ahead Locational Based Marginal Pricing gathered from the NYISO. 
                                <br>
                                Also, a graph comparing loads with Day-Ahead Locational Based Marginal Pricing (LBMP) is shown.
                                </p>
                                <p>
                                The Data Integration section is the area in the dashboard where users will be able to make comparisons between the different datasets. 
                                <br>
                                Users will be able to compare the following datasets:
                                <ul>
                                    <li>Humidity data per hour for a given town</li>
                                    <li>Precipitation data per hour for a given town</li>
                                    <li>Wind data per hour for a given town</li>
                                    <li>Temperature data per hour for a given town in Fahrenheit or Celsius</li>
                                    <li>Load data</li>
                                    <li>Load based marginal pricing data per zone</li>
                                    <li>Positive Tweets</li>
                                    <li>Negative Tweets</li>
                                </ul>
                                Up to four of these datasets may be compared. 
                                <br>
                                These datasets may be imported or exported. 
                                </p>
                                <p>
                                    The OASIS dashboard is an open source project.
                                    The code can be accessed in 
                                    <a href="https://github.com/alesanz237/oasis_dashboard">Github</a>.
                                </p>
                                <p>
                                    This dashboard is part of the OASIS project, more information about this project is provided in 
                                    <a href="http://oasis.uprm.edu">oasis.uprm.edu</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

</body>

</html>