<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oasis Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../static/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="../static/js/d3.js"></script>
    <script src="../static/js/klass.js"></script>
    <script src="../static/js/atlaspr.js"></script>
    <script src="../static/js/jquery.js"></script>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="height:50px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-left" href="\"><img style="height: 50px; margin-top: -15px;" src="./static/img/oasis-white.png"><h3 style="margin-top:-27px; margin-left:115px; color:white;">Dashboard</h3></img></a>
                <img src="./static/img/avatar.jpg" style="    border-radius: 50%; width: 50px; margin-left: 900px;">
                <button class="btn dropdown-toggle" style="background:none"; type="button" data-toggle="dropdown">
                    <span class="caret" style="color:white;"></span>
                </button>    
                <ul class="dropdown-menu" style="left: 1090px;" aria-labelledby="dropdownMenuDivider">
                    <li>
                        <button data-toggle="modal" data-target="#myModal" style="background:none; border:none">View My Profile</button>
                    </li>
                    <li>
                        <button data-toggle="modal" data-target="#customizeDashboard" style="background:none; border:none">Customize Dashboard</button>
                    </li>
                    <li role="separator" class="divider">Test</li>
                    <li>
                        <button data-toggle="modal" data-target="#myModal" style="background:none; border:none">Return to Oasis</button>
                    </li>
                </ul>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="\"><i class="fa fa-fw fa-dashboard"></i> Home</a>
                    </li>
                    <li >
                        <a href="\energy"><i class="fa fa-fw fa-bar-chart-o"></i> Energy Data</a>
                    </li>
                    <li>
                        <a href="\twitter"><i class="fa fa-fw fa-twitter"></i> Social Data</a>
                    </li>
                    <li>
                        <a href="\weather"><i class="fa fa-fw fa-cloud"></i> Weather Data</a>
                    </li>
                    <!-- <li>
                        <a href="\map"><i class="fa fa-fw fa-globe"></i> Town Specific Data</a>
                    </li> -->
                    <li >
                        <a href="\market"><i class="fa fa-fw fa-bar-chart-o"></i> Market Data</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper" style="margin-top: -40px;">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Home
                            <button data-toggle="modal" data-target="#AddGraphHomeDashboard" style="background:none; border:none; margin-left: 605px;">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <small style="font-size: 40%;">Add graph</small>
                            </button> 
                            <button data-toggle="modal" data-target="#EditGraphHomeDashboard" style="color: black; border:none; background:none; margin-left: 35px;">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                <small style="font-size: 40%;">Edit graphs</small>
                            </button> 
                        </h1>
                    </div>
                </div>
                <!-- /.row -->


                <!-- Customize Dashboard Modal -->
                <div class="modal fade" id="customizeDashboard" role="dialog" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-title">Customize Dashboard</h3>
                            </div>
                            <div class="modal-body">
                                
                                <div class="container">
                                  <ul class="nav nav-pills">
                                    <li class="active"><a data-toggle="pill" href="#general">General</a></li>
                                    <li><a data-toggle="pill" href="#home">Home</a></li>
                                    <li><a data-toggle="pill" href="#energy">Energy data</a></li>
                                    <li><a data-toggle="pill" href="#social">Social data</a></li>
                                    <li><a data-toggle="pill" href="#weather">Weather data</a></li>
                                    <li><a data-toggle="pill" href="#town">Data by town</a></li>
                                    <li><a data-toggle="pill" href="#market">Market data</a></li>
                                  </ul>
                                  
                                  <div class="tab-content">
                                    <div id="general" class="tab-pane fade in active">
                                      <h3>General</h3>
                                      <p>Grab data from [Poner lista de available datasets]</p>
                                    </div>
                                    <div id="home" class="tab-pane fade">
                                      <h3>Home</h3>
                                      <p>Show list of graphs, add, remove, sort and increment/decrease size</p>
                                    </div>
                                    <div id="energy" class="tab-pane fade">
                                      <h3>Energy Data</h3>
                                      <p>Show list of graphs, add, remove, sort and increment/decrease size</p>
                                    </div>
                                    <div id="social" class="tab-pane fade">
                                      <h3>Social Data</h3>
                                      <p>Show list of graphs, add, remove, sort and increment/decrease size</p>
                                    </div>
                                    <div id="weather" class="tab-pane fade">
                                      <h3>Weather Data</h3>
                                      <p>Show list of graphs, add, remove, sort and increment/decrease size</p>
                                    </div>
                                    <div id="town" class="tab-pane fade">
                                      <h3>Data by town</h3>
                                      <p>Show list of graphs, add, remove, sort and increment/decrease size</p>
                                    </div>
                                    <div id="market" class="tab-pane fade">
                                      <h3>Market Data</h3>
                                      <p>Show list of graphs, add, remove, sort and increment/decrease size</p>
                                    </div>
                                  </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal">Save Settings</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add dataModal -->
                <div class="modal fade" id="AddGraphHomeDashboard" role="dialog" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-title">Add Graph to Home Dashboard</h3>
                            </div>
                            <div class="modal-body">
                                
                                <p>This should show a list of datasets and graphs available for this dashboard</p>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal">Save Settings</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Edit Dashboard Modal -->
                <div class="modal fade" id="EditGraphHomeDashboard" role="dialog" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-title">Edit Graphs in Home Dashboard</h3>
                            </div>
                            <div class="modal-body">
                                
                                <p>This should show a list of the graphs in this dashboard and should let you move them, set size or delete them</p>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal">Save Settings</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-cloud"></i> Temperature throught the day in Mayagüez
                                 <button data-toggle="modal" data-target="#EditGraphHomeDashboard" style="color: white; border:none; background:none; float: right;">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="flot-chart">
                                    <div class="flot-chart-content" id="flot-line-chart"></div>
                                </div>
                                <!-- <br> -->
                                <!-- <div class="text-right">
                                    <a href="\weather">View More Weather Charts <i class="fa fa-arrow-circle-right"></i></a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-twitter"></i> Twitter Sentiment Analysis
                                    <button data-toggle="modal" data-target="#EditGraphHomeDashboard" style="color: white; border:none; background:none; float: right;">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> 
                                </h3>
                                
                            </button> 
                            </div>
                            <div class="panel-body">
                                <div class="flot-chart">
                                    <div class="flot-chart-content" id="flot-pie-chart"></div>
                                </div>
                                <!-- <div class="text-right">
                                    <a href="\twitter">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-area-chart fa-fw"></i> 
                                    Energy Generation (Natural Year) in millions of kilowatts per hour (mkWh)
                                <button data-toggle="modal" data-target="#EditGraphHomeDashboard" style="color: white; border:none; background:none; float: right;">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-area-chart"></div>
                            </div>
                            <!-- <div class="text-right">
                                <a href="\energy">View More Energy Charts <i class="fa fa-arrow-circle-right"></i></a>
                            </div> -->
                        </div>
                    </div>
                    <script src="../static/js/plugins/morris/morris.js"></script>
                    <script src="../static/js/plugins/morris/raphael.min.js"></script>
                    <script>
                        Morris.Area({
                            element: 'morris-area-chart',
                            data: [{
                                period: '2000',
                                gross_generation: 21813.5,
                                net_generation: 20728.9,
                                // max_demand: 3202 
                            }, {
                                period: '2001',
                                gross_generation: 22301.9,
                                net_generation: 21203.2,
                                // max_demand: 3297 
                            }, {
                                period: '2002',
                                gross_generation: 23175.6,
                                net_generation: 22086.1,
                                // max_demand: 3376 
                            }, {
                                period: '2003',
                                gross_generation: 23937.3,
                                net_generation: 22884.4,
                                // max_demand: 3499 
                            }, {
                                period: '2004',
                                gross_generation: 24135.0,
                                net_generation: 23004.9,
                                // max_demand: 3560 
                            }, {
                                period: '2005',
                                gross_generation: 24961.8,
                                net_generation: 23846.6,
                                // max_demand: 3685 
                            }, {
                                period: '2006',
                                gross_generation: 24946.4,
                                net_generation: 23839.8,
                                // max_demand: 3604 
                            }, {
                                period: '2007',
                                gross_generation: 24636.2,
                                net_generation: 23720.2,
                                // max_demand: 3546 
                            }, {
                                period: '2008',
                                gross_generation: 23213.6,
                                net_generation: 22337.2,
                                // max_demand: 3351 
                            }, {
                                period: '2009',
                                gross_generation: 22988.6,
                                net_generation: 22022.4,
                                // max_demand: 3404 
                            }, {
                                period: '2010',
                                gross_generation: 23244.0,
                                net_generation: 22216.1,
                                // max_demand: 3406 
                            }, {
                                period: '2011',
                                gross_generation: 22257.3,
                                net_generation: 21283.6,
                                // max_demand: 3303 
                            }, {
                                period: '2012',
                                gross_generation: 22306.0,
                                net_generation: 21296.3,
                                // max_demand: 3265 
                            }, {
                                period: '2013',
                                gross_generation: 21493.3,
                                net_generation: 20620.9,
                                // max_demand: 1791
                            }, {
                                period: '2014',
                                gross_generation: 21066.8,
                                net_generation: 20272.2,
                                // max_demand: 2028
                            }],
                            xkey: 'period',
                            // ykeys: ['gross_generation', 'net_generation', 'max_demand'],
                            ykeys: ['gross_generation', 'net_generation'],
                            labels: ['gross_generation', 'net_generation'],
                            // labels: ['Gross Generation', 'Net Generation', 'Max Demand'],
                            pointSize: 2,
                            hideHover: 'auto',
                            resize: true
                        });

                    </script>
                    </div>
                    <!-- /.row -->

               
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
   <!--  <script src="../static/js/plugins/morris/raphael.min.js"></script>
    <script src="../static/js/plugins/morris/morris.min.js"></script>
    <script src="../static/js/plugins/morris/morris-data.js"></script>
 -->
    <!-- Flot Charts JavaScript -->
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
    <script src="../static/js/plugins/flot/jquery.flot.js"></script>
    <script src="../static/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="../static/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="../static/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="../static/js/plugins/flot/flot-data.js"></script>

</body>

</html>
