<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oasis Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../static/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="../static/js/d3.js"></script>
    <script src="../static/js/klass.js"></script>
    <script src="../static/js/atlaspr.js"></script>
    <script src="../static/js/jquery.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="\">Oasis Dashboard</a>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="\"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="\energy"><i class="fa fa-fw fa-bar-chart-o"></i> Energy Data</a>
                    </li>
                    <li>
                        <a href="\twitter"><i class="fa fa-fw fa-twitter"></i> Twitter Data</a>
                    </li>
                    <li>
                        <a href="\weather"><i class="fa fa-fw fa-cloud"></i> Weather Data</a>
                    </li>
                    <li class="active">
                        <a href="\map"><i class="fa fa-fw fa-globe"></i> Puerto Rico Map</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Puerto Rico Data</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-globe"></i> Puerto Rico</h3>
                            </div>
                            <div class="panel-body">
                                <div id='map'></div>
                                  <script type=text/javascript>
                                      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                                  </script>
                                  <script type = 'text/javascript'>
                                    var my_node = document.getElementById("map");
                                    new AtlasPR({
                                      node: my_node, 
                                      size: "medium", 
                                      tiles: ["pueblos"], 
                                      zoom: false,
                                      // on_ready: zoom_to_barranquitas,
                                      events: {
                                        on_click: function(feature, svg_path){
                                          var town = feature.properties.NAME;
                                          $('#town_name').text(town);
                                          location.href = "#";
                                          location.href = "#town_info";
                                          $.getJSON('/_weather_data', 
                                            { town: town},
                                            function (weather_data) {
                                              $("#status").text(weather_data.status);
                                              $("#temperature").text(weather_data.temperature);
                                              $("#rain").text(weather_data.rain);
                                              $("#humidiy").text(weather_data.humidity);
                                              $("#cloud").text(weather_data.cloud_coverage);
                                              $("#wind").text(weather_data.wind);
                                              // console.log(data)
                                          });
                                          $.get('/_twitter_data', 
                                            { town: town},
                                            function (twitter_data) {
                                              console.log(twitter_data)
                                              // console.log(twitter_data.text)
                                              var i = 1
                                              for (var key in twitter_data) {
                                                // console.log(twitter_data.text)
                                                var id = "#text" + i;
                                                console.log(typeof(id));
                                                // $(id).text(twitter_data.text);
                                                  if (twitter_data.hasOwnProperty(key)) {
                                                    var splitted_tweet = twitter_data[key].split('"')
                                                    var text = splitted_tweet[11]
                                                    console.log(key + " -> " + twitter_data[key]);
                                                    $(id).text(text);
                                                    // $('.badge').css('diplay: none')
                                                  }
                                                  else{
                                                    alert("hello");
                                                  }
                                                i++;
                                                }
                                          });
                                        }

                                      }
                                    });
                                  </script>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row" >
                    <div class="col-lg-12">
                        <h1 id="town_info">
                            <span id="town_name">Town</span> <small> Data</small>
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-cloud"></i> Current Weather</h3>
                            </div>
                            <div class="panel-body">
                                <p><strong>Status</strong>: <span id="status">No town selected</span></p>
                                <p><strong>Temperature</strong>: <span id="temperature">No town selected</span></p>
                                <p><strong>Rain Activity</strong>: <span id="rain">No town selected</span></p>
                                <p><strong>Humidiy</strong>: <span id="humidiy">No town selected</span></p>
                                <p><strong>Cloud Coverage</strong>: <span id="cloud">No town selected</span></p>
                                <p><strong>Wind</strong>: <span id="wind">No town selected</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-twitter"></i> Tweets</h3>
                            </div>
                            <div class="panel-info">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <span class="badge">just now</span>
                                        <span id="text1">No town selected</span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">4 minutes ago</span>
                                        <span id="text2">No town selected</span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">23 minutes ago</span>
                                        <span id="text3">No town selected</span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">46 minutes ago</span>
                                        <span id="text4">No town selected</span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">1 hour ago</span>
                                        <span id="text5">No town selected</span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">2 hours ago</span>
                                        <span id="text6">No town selected</span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">3 hours ago</span>
                                        <span id="text7">No town selected</span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">one day ago</span>
                                        <span id="text8">No town selected</span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">three days ago</span>
                                        <span id="text9">No town selected</span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">one week ago</span>
                                        <span id="text10">No town selected</span>
                                    </a>
                                </div>
                                <div class="text-right">
                                    <a href="\twitter">View all tweets from Puerto Rico <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Energy Costs</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Order #</th>
                                                <th>Order Date</th>
                                                <th>Order Time</th>
                                                <th>Amount (USD)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>3326</td>
                                                <td>10/21/2013</td>
                                                <td>3:29 PM</td>
                                                <td>$321.33</td>
                                            </tr>
                                            <tr>
                                                <td>3325</td>
                                                <td>10/21/2013</td>
                                                <td>3:20 PM</td>
                                                <td>$234.34</td>
                                            </tr>
                                            <tr>
                                                <td>3324</td>
                                                <td>10/21/2013</td>
                                                <td>3:03 PM</td>
                                                <td>$724.17</td>
                                            </tr>
                                            <tr>
                                                <td>3323</td>
                                                <td>10/21/2013</td>
                                                <td>3:00 PM</td>
                                                <td>$23.71</td>
                                            </tr>
                                            <tr>
                                                <td>3322</td>
                                                <td>10/21/2013</td>
                                                <td>2:49 PM</td>
                                                <td>$8345.23</td>
                                            </tr>
                                            <tr>
                                                <td>3321</td>
                                                <td>10/21/2013</td>
                                                <td>2:23 PM</td>
                                                <td>$245.12</td>
                                            </tr>
                                            <tr>
                                                <td>3320</td>
                                                <td>10/21/2013</td>
                                                <td>2:15 PM</td>
                                                <td>$5663.54</td>
                                            </tr>
                                            <tr>
                                                <td>3319</td>
                                                <td>10/21/2013</td>
                                                <td>2:13 PM</td>
                                                <td>$943.45</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="#">View more graphs <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../static/js/plugins/morris/raphael.min.js"></script>
    <script src="../static/js/plugins/morris/morris.min.js"></script>
    <script src="../static/js/plugins/morris/morris-data.js"></script>

</body>

</html>
