<!DOCTYPE html>
<title> Oasis Dashboard </title>
<meta charset="utf-8">
<script src="static/js/d3.js"></script>
<script src="static/js/klass.js"></script>
<script src="static/js/atlaspr.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script> 
<html>
  <body>
    <h1>Data from Puerto Rico</h1>
    <div id='map'></div>
      <script type = 'text/javascript'>
        var my_node = document.getElementById("map");
        function zoom_to_barranquitas(atlaspr){
          var url = window.location.search.substring(1); // Getting the URL value
          var town = url.split("=")[1]; // Splitting the URL value to get the correct town name
          console.log(town) 
      };
        new AtlasPR({
          node: my_node, 
          size: "large", 
          tiles: ["pueblos"], 
          zoom: true,
          on_ready: zoom_to_barranquitas,
          events: {
            on_click: function(feature, svg_path){
              var town = feature.properties.NAME
              // var svg_path = svg_path
              window.location.href="\/town_info?town="+town
            ;}
          }
        });
      </script>
    </div>
    <h3> Current weather in {{town}}</h3>
    <p>
      {% for item in weatherOWM %}
        {% for key, value in item.items() %}
          {{value}} <br>
        {% endfor %}
      {% endfor %}
    </p>
    <!-- <h3> 7 Day forecast from NOAA </h3>
    <p>
      {% for item in weatherNOAA %}
        {% for key, value in item.items() %}
          <b>{{value[0]}}</b>: {{value[5]}} <br>
        {% endfor %}
      {% endfor %}
    </p>
    <h3> Current observation NOAA </h3>
    <p>
      {% for item in current_weather %}
        {% for key, value in item.items() %}
          {{key}}: {{value}} <br>
        {% endfor %}
      {% endfor %}
    </p> -->

    <!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>
<body>
<h2> Weather </h2>
<script>

  var margin = {top: 20, right: 20, bottom: 30, left: 50},
      width = 500 - margin.left - margin.right,
      height = 200 - margin.top - margin.bottom;

  var formatDate = d3.time.format("%H:%M:%S");

  var x = d3.time.scale()
      .range([0, width]);

  var y = d3.scale.linear()
      .range([height, 0]);

  var xAxis = d3.svg.axis()
      .scale(x)
      .orient("bottom");

  var yAxis = d3.svg.axis()
      .scale(y)
      .orient("left");

  var line = d3.svg.line()
      .x(function(d) { return x(d.date); })
      .y(function(d) { return y(d.weather); });

  var svg = d3.select("body").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  d3.tsv("static/graphs/data.tsv", type, function(error, data) {
    if (error) throw error;

    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain(d3.extent(data, function(d) { return d.weather; }));

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
      .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Weather (F)");

    svg.append("path")
        .datum(data)
        .attr("class", "line")
        .attr("d", line);
  });

  function type(d) {
    d.date = formatDate.parse(d.date);
    d.weather = +d.weather;
    return d;
  }

  </script>

  </body>
</html>