<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oasis Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../static/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="../static/js/d3.js"></script>
    <script src="../static/js/klass.js"></script>
    <script src="../static/js/atlaspr.js"></script>
    <script src="../static/js/jquery.js"></script>

    <!-- NVD3 Twitter Charts -->
    <!-- <script src="../static/js/twitterCharts.js"></script> -->

    <!-- CSS for spinner -->
    <link href="../static/css/spinner.css" rel="stylesheet" type="text/css">

</head>

<body class='with-3d-shadow with-transitions'>
<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="height:50px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-left" href="\"><img style="height: 50px; margin-top: -15px;" src="./static/img/oasis-white.png"><h3 style="margin-top:-27px; margin-left:115px; color:white;">Dashboard</h3></img></a>
                <img src="./static/img/avatar.jpg" style="    border-radius: 50%; width: 50px; margin-left: 900px;">
                <button class="btn dropdown-toggle" style="background:none"; type="button" data-toggle="dropdown">
                    <span class="caret" style="color:white;"></span>
                </button>    
                <ul class="dropdown-menu" style="left: 1090px;" aria-labelledby="dropdownMenuDivider">
                    <li>
                        <button data-toggle="modal" data-target="#myModal" style="background:none; border:none">View My Profile</button>
                    </li>
                    <li>
                        <button data-toggle="modal" data-target="#customizeDashboard" style="background:none; border:none">Customize Dashboard</button>
                    </li>
                    <li role="separator" class="divider">Test</li>
                    <li>
                        <button data-toggle="modal" data-target="#myModal" style="background:none; border:none">Return to Oasis</button>
                    </li>
                </ul>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" >
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="\"><i class="fa fa-fw fa-dashboard"></i> Home</a>
                    </li>
                    <li>
                        <a href="\energy"><i class="fa fa-fw fa-bar-chart-o"></i> Energy Data</a>
                    </li>
                    <li class="active">
                        <a href="\twitter"><i class="fa fa-fw fa-twitter"></i> Social Data</a>
                    </li>
                    <li>
                        <a href="\weather"><i class="fa fa-fw fa-cloud"></i> Weather Data</a>
                    </li>
                    <!-- <li>
                        <a href="\map"><i class="fa fa-fw fa-globe"></i> Town Specific Data</a>
                    </li> -->
                    <li >
                        <a href="\market"><i class="fa fa-fw fa-bar-chart-o"></i> Market Data</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper" style="margin-top: -40px;">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Social Data
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-twitter"></i> Twitter Sentiment Analysis </h3>
                            </div>
                            <div class="panel-body">
                                <div class="flot-chart">
                                    <!-- <div id="loader"></div> -->
                                    <div class="flot-chart-content" id="flot-pie-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               <div class="row">
                    <div class="col-lg-6" >
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-twitter fa-fw"></i> Top Energy Related Words in Positive Tweets</h3>
                            </div>
                            <div class="panel-body">
                                <div id="loader" class="loader_positive" ></div>
                                <div id="positive-tweets"></div>
                                <!-- <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" >
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-twitter fa-fw"></i> Top Energy Related Words in Negative Tweets</h3>
                            </div>
                            <div class="panel-body">
                                <div id="loader" class="loader_negative"></div>
                                <div id="negative-tweets"></div>
                            </div>
                        </div>
                    </div>
                </div> 

                <div class="row" >
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-twitter fa-fw"></i> Twitter Stream</h3>
                            </div>
                            <div class="panel-body">
                                    <div id="loader" class="loader_stream"></div>
                                    <div id="twitter_stream"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    // Donut Chart
                    $(function() {

                        $.get('/_getTweetsCount', 
                            function (tweets_count) {
                                var data = [{
                                    label: "Positive Tweets",
                                    data: tweets_count.result[0],
                                    color: '#337AB8'
                                }, {
                                    label: "Negative Tweets",
                                    data: tweets_count.result[1],
                                    color: '#ff0000'
                                }];

                                var plotObj = $.plot($("#flot-pie-chart"), data, {
                                    series: {
                                        pie: {
                                            show: true
                                        }
                                    },
                                    grid: {
                                        hoverable: true,
                                    },
                                    tooltip: true,
                                    tooltipOpts: {
                                        content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
                                        shifts: {
                                            x: 20,
                                            y: 0
                                        },
                                        defaultTheme: true
                                    }
                                });
                            });

                        $.get('/_getPositiveWords', 
                            function (positive_words) {
                                $(".loader_positive").hide();
                                Morris.Donut({
                                    element: 'positive-tweets',
                                    data: positive_words.result,
                                    resize: true,
                                    colors: [
                                        '#0000ff',
                                        '#0000e5',
                                        '#1919ff',
                                        '#3232ff',
                                        '#0000cc',
                                        '#0000b2',
                                        '#4c4cff',
                                        '#6666ff',
                                        '#7f7fff',
                                        '#9999ff',     
                                    ],
                                });
                            });

                        $.get('/_getNegativeWords', 
                            function (negative_words) {
                                $(".loader_negative").hide();
                                Morris.Donut({
                                    element: 'negative-tweets',
                                    data: negative_words.result,
                                    resize: true,
                                    colors: [
                                        '#ff0000',
                                        '#e50000',
                                        '#ff1919',
                                        '#cc0000',
                                        '#ff3232',
                                        '#b20000',
                                        '#990000',
                                        '#7f0000',
                                        '#7f0000',
                                        '#4c0000',    
                                    ],
                                });
                            });

                        window.setInterval(function(){
                            $.get('_getTweets',
                                function(data){
                                    console.log(data.result);
                                    $(".loader_stream").hide();
                                    all_tweets = data.result;
                                    document.getElementById("twitter_stream").innerHTML = "<p id=\"text\"></p>";
                                    tags = [];
                                    for (var i = 0; i < 10; i++){
                                        tweet = all_tweets[i];
                                        polarity = tweet.polarity
                                        tweet = tweet.text
                                        if (polarity == "negative"){
                                            var span_tag = "<span id=\"neg_text\" style=\"color:#ff0000;\">"+ tweet +"</span><br>";
                                            tags.push(span_tag);
                                        }
                                        else if (polarity == "positive"){
                                            var span_tag = "<span id=\"pos_text\" style=\"color:#0000ff;\">"+ tweet +"</span><br>";
                                            tags.push(span_tag);
                                        }
                                        var t = "";
                                        document.getElementById("text").innerHTML = tags;
                                    }
                                }
                            );
                        },10000);

                    });
                </script>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../static/js/plugins/morris/raphael.min.js"></script>
    <script src="../static/js/plugins/morris/morris.min.js"></script>
    <!-- <script src="../static/js/plugins/morris/morris-data.js"></script> -->

    <!-- Flot Charts JavaScript -->
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
    <script src="../static/js/plugins/flot/jquery.flot.js"></script>
    <script src="../static/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="../static/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="../static/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="../static/js/plugins/flot/flot-data.js"></script>

</body>

</html>
