<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oasis Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../static/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="../static/js/d3.js"></script>
    <script src="../static/js/klass.js"></script>
    <script src="../static/js/atlaspr.js"></script>
    <link href="../static/css/nv.d3.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="../static/js/nv.d3.js"></script>
    <script src="../static/js/jquery.js"></script>

    <!-- CSS for spinner -->
    <link href="../static/css/spinner.css" rel="stylesheet" type="text/css">

</head>

<body class='with-3d-shadow with-transitions'>
<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="height:50px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-left" href="\"><img style="height: 50px; margin-top: -15px;" src="./static/img/oasis-white.png"><h3 style="margin-top:-27px; margin-left:115px; color:white;">Dashboard</h3></img></a>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" >
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="\home"><i class="fa fa-fw fa-dashboard"></i> Home</a>
                    </li>
                    <li>
                        <a href="\energy"><i class="fa fa-fw fa-bar-chart-o"></i> Energy Data</a>
                    </li>
                    <li class="active">
                        <a href="\twitter"><i class="fa fa-fw fa-twitter"></i> Social Data</a>
                    </li>
                    <li>
                        <a href="\weather"><i class="fa fa-fw fa-cloud"></i> Weather Data</a>
                    </li>
                    <li >
                        <a href="\market"><i class="fa fa-fw fa-bar-chart-o"></i> Market Data</a>
                    </li>
                    <li >
                        <a href="\integration"><i class="fa fa-fw fa-bar-chart-o"></i> Data Integration</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper" style="margin-top: -40px;">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Social Data
                        </h1>
                        <form method="get" action="/returnTweets">
                            <button class="btn btn-info" type="submit">Download twitter data</button>
                        </form>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-5">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-twitter"></i> Twitter Sentiment Analysis </h3>
                            </div>
                            <div class="panel-body">
                                <div id="pie-chart" style="height: 500px; width:100%;">
                                    <svg></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-twitter fa-fw"></i> Twitter Stream</h3>
                            </div>
                            <div class="panel-body">
                                    <div id="loader" class="loader_stream"></div>
                                    <div id="twitter_stream" style="height: 500px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>

               <div class="row">
                    <div class="col-lg-6" >
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-twitter fa-fw"></i> Top Energy Related Words in Positive Tweets</h3>
                            </div>
                            <div class="panel-body">
                                <!-- <div id="loader" class="loader_positive" ></div> -->
                                <div id="positive-tweets" style="height: 500px; width: 100%;">
                                    <svg></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" >
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-twitter fa-fw"></i> Top Energy Related Words in Negative Tweets</h3>
                            </div>
                            <div class="panel-body">
                                <!-- <div id="loader" class="loader_negative"></div> -->
                                <div id="negative-tweets" style="height: 500px; width: 100%;">
                                    <svg></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

                <script>
                    // Donut Chart
                    $(function() {

                        $.get('/_getTweetsCount', 
                            function (tweets_count) {

                                var myColors = ["#3232ff", "#ff3232"];
                                d3.scale.myColors = function() {
                                    return d3.scale.ordinal().range(myColors);
                                };

                                var data = [
                                  { 
                                    "label": "Positive Tweets",
                                    "value" : tweets_count.result[0]
                                  } , 
                                  { 
                                    "label": "Negative Tweets",
                                    "value" : tweets_count.result[1]
                                  }];

                                //Regular pie chart example
                                nv.addGraph(function() {
                                  var chart = nv.models.pieChart()
                                      .x(function(d) { return d.label })
                                      .y(function(d) { return d.value })
                                      // .width(400)
                                      .height(400)
                                      .labelType("percent") //Configure what type of data to show in the label. Can be 
                                      .showLabels(true).color(d3.scale.myColors().range());

                                    d3.select("#pie-chart svg")
                                        .datum(data)
                                        .transition().duration(350)
                                        .attr('width','100%')
                                        .call(chart);

                                  return chart;
                                });
                            });

                        $.get('/_getPositiveWords', 
                            function (positive_words) {
                                nv.addGraph(function() {
                                    // console.log(positive_words.result)
                                    // var myColors = ['#0000ff','#0000e5','#1919ff','#3232ff','#0000cc','#0000b2','#4c4cff','#6666ff','#7f7fff','#9999ff'];
                                    // d3.scale.myColors = function() {
                                        // return d3.scale.ordinal().range(myColors);
                                    // };
                                    var chart = nv.models.pieChart()
                                        .x(function(d) { return d.label })
                                        .y(function(d) { return d.value })
                                        .showLabels(true)     //Display pie labels
                                        .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                                        // .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                                        // .width(400)
                                        .height(400)
                                        .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                                        .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
                                        .showLabels(true)
                                    ;

                                    d3.select("#positive-tweets svg")
                                        .datum(positive_words.result)
                                        .transition().duration(350)
                                        .attr('width','100%')
                                        .call(chart);

                                  return chart;
                                });
                            });


                        $.get('/_getNegativeWords', 
                            function (negative_words) {
                                nv.addGraph(function() {
                                    console.log(negative_words.result)
                                    var chart = nv.models.pieChart()
                                        .x(function(d) { return d.label })
                                        .y(function(d) { return d.value })
                                        .showLabels(true)     //Display pie labels
                                        .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                                        // .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                                        // .width(400)
                                        .height(400)
                                        .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                                        .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
                                        .showLabels(true)
                                    ;

                                    d3.select("#negative-tweets svg")
                                        .datum(negative_words.result)
                                        .transition().duration(350)
                                        .attr('width','100%')
                                        .call(chart);

                                  return chart;
                                });
                            });

                        window.setInterval(function(){
                            $.get('_getTweets',
                                function(data){
                                    console.log(data.result);
                                    $(".loader_stream").hide();
                                    all_tweets = data.result;
                                    document.getElementById("twitter_stream").innerHTML = "<p id=\"text\"></p>";
                                    tags = [];
                                    for (var i = 0; i < 10; i++){
                                        tweet = all_tweets[i];
                                        polarity = tweet.polarity
                                        tweet = tweet.text
                                        if (polarity == "negative"){
                                            var span_tag = "<span id=\"neg_text\" style=\"color:#ff0000;\">"+ tweet +"</span><br>";
                                            tags.push(span_tag);
                                        }
                                        else if (polarity == "positive"){
                                            var span_tag = "<span id=\"pos_text\" style=\"color:#0000ff;\">"+ tweet +"</span><br>";
                                            tags.push(span_tag);
                                        }
                                        var t = "";
                                        document.getElementById("text").innerHTML = tags;
                                    }
                                }
                            );
                        },10000);

                    });
                </script>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

</body>

</html>
